<app-adminheader></app-adminheader>
<div class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="content_header_block">
        <ol class="breadcrumb">
          <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li><a href="javascript:void(0)" class="active">Manage Offer </a></li>

        </ol>
        <div class="clearfix"></div>
      </div>
      <h1 class="page-header"><i class="fa fa-circle" aria-hidden="true"></i> Manage Offer</h1>

      <div class="clearfix"></div>

      <div class="content_header_block">
        <div class="clearfix"></div>

        <div class="newblock1">

          <input type="text" name="search" ng-model="searchkey" class="search1" placeholder="Search Offer">

          <a [routerLink]="['/addoffer']" class="addfrinderbtn">Add Offer</a>
          <!-- <a [routerLink]="['/addadmin']" class="addfrinderbtn"> Add Admin</a>&ndash;&gt;-->

          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="admintable">
        <h3> Manage Offer List</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr >
              <th scope="col">#</th>
              <th scope="col">Offer name</th>
              <th scope="col">Logo</th>
              <th scope="col">Description</th>
              <th scope="col">Brand</th>
              <th scope="col">Commision Rule</th>
              <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of offerlist; let i = index">
              <td>{{i+1}}</td>
              <td>{{item.offername}}</td>
              <!--<td >{{item.image}}</td>-->
              <td >
                <div>
                  <img  src="{{_commonservices.filepathurl+item.image}}" >
                </div>
               </td>
              <td >{{item.description}}</td>
              <td >{{getbrandname(item.brandid)}}</td>
              <td >{{item.commisionrule}}</td>
              <td ><span class="deletebtn" (click)="deleteoffer(item._id,template)">Delete</span>
                <span class="deletebtn" [routerLink]="['/addoffer',item._id]">Edit</span>
              </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-adminfooter></app-adminfooter>
<ng-template #template>
  <div class="modal-body">
    <h1>Do you want to delete?</h1>
    <button type="button" class="btn btn-default" (click)="delete(customerid,templatecommon)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>

<ng-template #templatecommon>
  <div class="modal-body">
    <h1>{{message}}</h1>

  </div>
</ng-template>
