<p>
  das works!
</p>

<div class="div1">
  This is a good way to quickly get TypeScript features, such as type checking and autocomplete support, for you custom element. But it can get cumbersome if you need it in several places, because you have to cast the return type on every occurrence.

  An alternative way, that only requires defining each custom element's type once, is augmenting the HTMLELementTagNameMap, which TypeScript uses to infer the type of a returned element based on its tag name (for DOM methods such as
</div>


<div class="div2">
  Generic DOM APIs, such as document.createElement() or document.querySelector(), return an element type that is appropriate for the specified arguments. For example, calling document.createElement('a') will return an HTMLAnchorElement, which TypeScript knows has an href property. Similarly, document.createElement('div') will return an HTMLDivElement, which TypeScript knows has no href property.
</div>