<app-adminheader></app-adminheader>
<div class="s_getmyoffer_adminpanel">
  <div class="s_getmyoffer_adminpanel_inner">
    <div class="s_getmyoffer_adminpanel_inner_content_left">
    </div>
    <div class="s_getmyoffer_adminpanel_inner_content_right mybrandlist">
    <!--  <app-listing class="mybrandlist" templatetype="table" sourcetitle="Brand" source="users_view" [sourcecondition]="sourcecondition" [tabledatalis]="tabledatalis" menuval="Brand List " [formdata]="formdata" [formsource]="datasource">-->
      <app-listing class="mybrandlist" templatetype="table" sourcetitle="Brand" source="users_view" [sourcecondition]="sourcecondition" [tabledatalis]="tabledatalis" menuval="Brand List " [formdata]="formdata" [formsource]="datasource">
      </app-listing>
    </div>
  </div>
</div>
<app-adminfooter></app-adminfooter>